<h4>Прибивки</h4>
 <div style="max-height: 300px; overflow-y: scroll; width: 100%; height: calc(100% - (50px))">
    <table>
        <tr style="background: " #75d2ff")>
            <th style="border-right: 1px solid grey; border-left: 1px solid grey; width: 125px;">Км</th>
            <th style="border-right: 1px solid grey; border-left: 1px solid grey; width: 125px;">Метр</th>
            <th style="border-right: 1px solid grey; width: 125px;">Отступление</th>
            <th style="border-right: 1px solid grey; width: 125px;">Длина</th>
            <th style="border-right: 1px solid grey; width: 125px;">Threat</th>
            <th style="border-right: 1px solid grey; width: 125px;">Место</th>
            <th style="border-right: 1px solid grey; width: 125px;">Значение</th>
        </tr>
        @if (kilometers != null)
        {

            {
                foreach (var km in kilometers)
                {
                   
                        foreach (var digression in km.AdditionalDigressions)
                        {
                        <tr>
                            <th>@digression.Kmetr</th>
                            <th>@digression.Meter</th>
                            <th>@digression.DigName</th>
                            <th>@digression.Length</th>
                            <th>@digression.Threat</th>
                            <th>@digression.Location</th>
                            <th>@digression.Value</th>
                        </tr>
                        }
                  
                }
            }
        }
    </table>
     </div>
